## Task 2: Quantitative Analysis of Stock price

In [1]:
# import liberaries
import os
import sys
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import talib as ta
sys.path.insert(0, os.path.dirname(os.getcwd()))
# import Stock_Price_Analyzer from src
from src.Stock_Price_Analyzer import *

In [2]:
# get data path
folder_path = '../data/yfinance_data/'
# Automatically merge the data and assign to stock_analyzer
stock_analyzer = StockPriceAnalyzer(folder_path=folder_path)
# Access the merged data
print(stock_analyzer.data.head())
# save the merged data to a CSV file

         Date      Open      High       Low     Close  Adj Close      Volume  \
0  1997-05-15  0.121875  0.125000  0.096354  0.097917   0.097917  1443120000
1  1997-05-16  0.098438  0.098958  0.085417  0.086458   0.086458   294000000
2  1997-05-19  0.088021  0.088542  0.081250  0.085417   0.085417   122136000
3  1997-05-20  0.086458  0.087500  0.081771  0.081771   0.081771   109344000
4  1997-05-21  0.081771  0.082292  0.068750  0.071354   0.071354   377064000

   Dividends  Stock Splits stock_symbol
0        0.0           0.0         AMZN
1        0.0           0.0         AMZN
2        0.0           0.0         AMZN
3        0.0           0.0         AMZN
4        0.0           0.0         AMZN

In [3]:
# Display the first five row datas after merging
stock_analyzer.data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,stock_symbol
0,1997-05-15,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000,0.0,0.0,AMZN
1,1997-05-16,0.098438,0.098958,0.085417,0.086458,0.086458,294000000,0.0,0.0,AMZN
2,1997-05-19,0.088021,0.088542,0.081250,0.085417,0.085417,122136000,0.0,0.0,AMZN
3,1997-05-20,0.086458,0.087500,0.081771,0.081771,0.081771,109344000,0.0,0.0,AMZN
4,1997-05-21,0.081771,0.082292,0.068750,0.071354,0.071354,377064000,0.0,0.0,AMZN

In [4]:
# make sure the dataframe includes columns like Open, High, Low, Close, and Volume.
stock_analyzer.data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Dividends', 'Stock Splits', 'stock_symbol'],
      dtype='object')

##  Apply Analysis Indicators with TA-Lib

In [4]:
# Calculate technical indicators using TA-Lib and desplay the data
stock_data=stock_analyzer.calculate_technical_indicators(stock_analyzer.data)
stock_data

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,stock_symbol,Data,SMA,RSI,EMA,MACD,MACD_Signal
0,1997-05-15,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000,0.0,0.0,AMZN,1997-05-15,NaN,NaN,NaN,NaN,NaN
1,1997-05-16,0.098438,0.098958,0.085417,0.086458,0.086458,294000000,0.0,0.0,AMZN,1997-05-16,NaN,NaN,NaN,NaN,NaN
2,1997-05-19,0.088021,0.088542,0.081250,0.085417,0.085417,122136000,0.0,0.0,AMZN,1997-05-19,NaN,NaN,NaN,NaN,NaN
3,1997-05-20,0.086458,0.087500,0.081771,0.081771,0.081771,109344000,0.0,0.0,AMZN,1997-05-20,NaN,NaN,NaN,NaN,NaN
4,1997-05-21,0.081771,0.082292,0.068750,0.071354,0.071354,377064000,0.0,0.0,AMZN,1997-05-21,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45423,2024-07-24,175.389999,177.949997,173.570007,174.369995,174.369995,31250700,0.0,0.0,GOOG,2024-07-24,185.500001,37.434718,183.080916,-0.034166,1.571016
45424,2024-07-25,174.250000,175.199997,169.050003,169.160004,169.160004,28967900,0.0,0.0,GOOG,2024-07-25,184.689501,32.279082,181.755115,-1.106693,1.035474
45425,2024-07-26,168.770004,169.839996,165.865005,168.679993,168.679993,25150100,0.0,0.0,GOOG,2024-07-26,183.780501,31.843937,180.509865,-1.972672,0.433845
45426,2024-07-29,170.500000,172.160004,169.720001,171.130005,171.130005,13768900,0.0,0.0,GOOG,2024-07-29,183.166001,36.545844,179.616545,-2.433223,-0.139569
45427,2024-07-30,171.830002,172.949997,170.119995,171.860001,171.860001,13681400,0.0,0.0,GOOG,2024-07-30,182.534501,37.920068,178.877827,-2.708091,-0.653273