## Task 2: Quantitative Analysis of Stock price

In [1]:
# import liberaries
import os
import sys
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import talib as ta
sys.path.insert(0, os.path.dirname(os.getcwd()))
# import Stock_Price_Analyzer from src
from src.Stock_Price_Analyzer import *

In [ ]:
folder_path = '../data/yfinance_data/'
# Automatically merge the data and assign to stock_analyzer
stock_analyzer = StockPriceAnalyzer(folder_path=folder_path)
# Access the merged data
print(stock_analyzer.data.head())
# save the merged data to a CSV file

         Date      Open      High       Low     Close  Adj Close      Volume  \
0  1997-05-15  0.121875  0.125000  0.096354  0.097917   0.097917  1443120000
1  1997-05-16  0.098438  0.098958  0.085417  0.086458   0.086458   294000000
2  1997-05-19  0.088021  0.088542  0.081250  0.085417   0.085417   122136000
3  1997-05-20  0.086458  0.087500  0.081771  0.081771   0.081771   109344000
4  1997-05-21  0.081771  0.082292  0.068750  0.071354   0.071354   377064000

   Dividends  Stock Splits stock_symbol
0        0.0           0.0         AMZN
1        0.0           0.0         AMZN
2        0.0           0.0         AMZN
3        0.0           0.0         AMZN
4        0.0           0.0         AMZN

In [3]:
# Display the first five row datas after merging
stock_analyzer.data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,stock_symbol
0,1997-05-15,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000,0.0,0.0,AMZN
1,1997-05-16,0.098438,0.098958,0.085417,0.086458,0.086458,294000000,0.0,0.0,AMZN
2,1997-05-19,0.088021,0.088542,0.081250,0.085417,0.085417,122136000,0.0,0.0,AMZN
3,1997-05-20,0.086458,0.087500,0.081771,0.081771,0.081771,109344000,0.0,0.0,AMZN
4,1997-05-21,0.081771,0.082292,0.068750,0.071354,0.071354,377064000,0.0,0.0,AMZN

In [4]:
# make sure the dataframe includes columns like Open, High, Low, Close, and Volume.
stock_analyzer.data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Dividends', 'Stock Splits', 'stock_symbol'],
      dtype='object')